body{
	border: 30px solid #c2c2d6; 
	margin: 0px 0px 0px 0px;
	height: 110%;
}

div.outer{
	margin: 10px;
}
div.header{
	border: 5px solid #008ae6;
	background-color: #b3e0ff;
	font-family:"sans-serif";
	color: #008ae6;
}

div.profileimage{
	float: left;
	box-shadow: 10px 10px 5px #b3b3b3;
	margin: 10px;
}
div.profileinfo{
	float: right;
	height: 60%;
	width:70%;
}

h1{
	margin-left: 10px;
}