.panel-heading {
    background-color: #222222;
    color : rgb(255, 255, 255);
    font-weight: bolder;
    border-radius : 10px 10px 0px 0px;

}
.panel {
    border: none;
    border-radius: 10px;
    margin-top : 20px;
    margin-bottom: 20px;
    text-align: center;
   
}

.container-fluid {
    background-color: #505050;
}

.container{
    text-align : center;
}
h2{
    color: #ddd;
    font-weight: bold;
    text-align: center;
}
#id{
background-color: #eee
}

