
<div class="container-fluid row">
<div class="container">
<nav class="navbar navbar-inverse">
       <h1>{{title}}</h1>

        <ul class="nav navbar-nav navbar-right" >
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/contactus">Contact Us</a></li>
          <li><search></search></li>
        </ul>

  </nav>
</div>
</div>
<router-outlet></router-outlet>
<footer>
    <div class="container">
      &copy; All Rights Reserved.
    </div>
  </footer>