
h1 {
    color: white;
    font-weight: bold;
    margin : 0px;
    font-family : sans-serif;
    float : left;
}

.navbar-inverse {
    border-radius: 0px;
    border:none;
}

.navbar-inverse .navbar-nav>li>a {
    padding-top:35px;

}

search{
    color : black;
}
.container-fluid {
    background-color: #222222;
}

