<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>List of Products</h3></div>
        <div class="panel-body table-responsive">
        <table class="table table-striped">
            <thead>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Price</th>
            </thead>
            <tr *ngFor = "let product of products" >
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td> <button (click) = "onSelect(product);editDetails()" [class.selected]="product === selectedProduct" class="btn btn-info">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button></td>
            <td> <button (click) = "deleteProduct(product)" [class.selected]="product === selectedProduct" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button></td>
            </tr>
        </table>
    </div>
    </div>
</div>

    <div class="container">
            <div class="panel panel-success">
                <div class="panel-heading"><h3> Add New Products</h3></div>
                <div class="panel-body">
                    <div span class="col-sm-3 col-xs-12 col-md-3 col-lg-3"><label>Product Id </label> <input #productId type="number"  min="1"></div>
                    <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3"><label>Name &nbsp;&nbsp;&nbsp;&nbsp;</label> <input #productName type ="text" ></div>
                    <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3"><label>Price &nbsp;&nbsp;&nbsp;&nbsp;</label> <input #price type="number"  min="1"></div>
                    <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3"><button class="btn btn-success " (click) ="createProduct(productId.value, productName.value, price.value);">Add</button></div>
                </div>
            </div>
</div>